.SearchResults {
  width: 50vw;
  height: 800px;
  overflow-y: scroll;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  position: relative;
}

.SearchResults h2 {
  width: 90%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.SearchResults-content {
  margin-left: 5%;
  width: 90%;
  overflow: scroll;
}
.SearchResultsCards {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 280px;
  right: 30px;
  top: 0;
}
.SearchResultsCards h3 {
  width: 31%;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 10px;
  height: 40px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.4;
  box-shadow: 0px 0px 5px lightgrey;
}
.SearchResultsCards h3:hover {
  box-shadow: 0px 0px 10px lightgrey;
}
.activeButton {
  box-shadow: 0px 0px 50px lightgrey;
  opacity: 0.9 !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1090px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 680px) {
  .SearchResultsCards {
    display: none;
  }
}
