.BackgroundSVGContainer {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw !important;
    background-color: red
}

svg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}