.Track {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  margin-bottom: 5px;
  position: relative;
}

.Track-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}
.Track-cover-preview {
  display: flex;
  width: 50px;
}
.Track-album-cover {
  position: absolute;
  display: flex;
  height: 65px;
  left: 20px;
  bottom: 50%;
  transform: translateY(50%);
}
.Track-action:hover {
  color: rgba(265, 265, 265, 0.5);
}
.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Track-information-container {
  width: 70%;
  margin-left: 90px;
}
.Track-artist {
  font-size: 0.8rem;
  padding-bottom: 10px;
}
.Track-icon {
  display: flex;
  font-size: 1.5rem;
  margin-right: 5px;
}
.Track-icon:hover {
  color: #6c41ec;
}
.Track-icons-container {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin-right: 5px;
}
