.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 50vw;
  max-height: 950px;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.Playlist-header {
  width: 90%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.Playlist-header input {
  width: 40%;
  height: 50%;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #fff;
  padding: 7px;
}
.Playlist-header input::placeholder {
  color: #fff;
}
.Playlist-content {
  width: 90%;
  height: 300px;
  overflow: scroll;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  background-color: #6c41ec;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
