.PlayerContainer {
  width: 40vw;
  min-width: 400px;
  height: 200px;
  margin-right: 2.5%;
  margin-bottom: 5%;
  border-radius: 7px;
  background-color: rgba(1, 12, 63, 0.7);
  display: flex;
  flex-direction: row;
  padding-top: 2vw;
  position: relative;
}
.PlayerContainer h3 {
  padding-left: 2vw;
}
.PlayerContainer h5 {
  padding-left: 2vw;
  margin-top: 0;
  width: 70%;
  height: 50px;
}

.playerContainerIMG {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 30px;
}

.playIcon {
  position: absolute;
  font-size: 3rem;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  bottom: 60px;
}
.iconNext {
  position: absolute;
  font-size: 1.5rem;
  bottom: 70px;
  right: 30%;
}
.iconPrevious {
  position: absolute;
  font-size: 1.5rem;
  bottom: 70px;
  left: 30%;
}
.playerProgress {
  display: inline-block;
  left: 200px;
  width: 100%;
  height: 30px;
}
.playerProgressContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 20px;
  left: 5%;
  width: 90%;
  height: 8px;
  overflow: hidden;
}
.playerTimer {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
