.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-top: -5%;
}
.Header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
}
