.WelcomeScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.welcome-text {
  align-self: center;
  margin-top: 10vh;
}
.welcome-text h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}
.welcome-text h3 {
  text-align: start;
  color: white;
}
.enterButton {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 10%;
  width: 200px;
  height: 80px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 30px white;
}
.enterButton:hover {
  color: #6c41ec;
  border-color: #6c41ec;
}
.enterButton:focus {
  box-shadow: 0px 0px 80px white;
}
.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

@media only screen and (max-width: 661px) {
  .welcome-text h3 {
    display: none;
  }
  .welcome-text h2 {
    font-size: 120%;
  }

  .enterButton {
    width: 30%;
    font-size: 150%;
  }
}
